@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

// --------------------------
* { box-sizing: border-box; }
// Table
table {
  width: 100%;
  th { text-align: left; border-bottom: 1px solid #ccc;}
  th, td { padding: .4em; }
}

// fold table 
table.fold-table {
  > tbody {
    // view segment
    > tr.view {
      td, th {cursor: pointer;}
      td:first-child, 
      th:first-child { 
        position: relative;
        padding-left:20px;
        &:before {
          position: absolute;
          top:50%; left:5px;
          width: 9px; height: 16px;
          margin-top: -8px;
          font: 16px fontawesome;
          color: #999;
          content: "\f0d7";
          transition: all .4s ease;
        }
      }
      &:nth-child(4n-1) { background: #eee; }
      &:hover { background: #ccc; }
      &.open {
        transition: all .2s ease;
        background: #161625;
        color: white;
        td:first-child, th:first-child {
          &:before {
            transform: rotate(-180deg);
            color: rgb(0, 255, 21);
            
          }
        }
      }
    }
  
    // fold segment
    > tr.fold {
      display: none;
      &.open { display:table-row; 
        transition: all .6s ease;
      }
    }
  }
}

// fold content 
.fold-content {
  padding: .5em;
  h3 { margin-top:0; }
  > table {
    > tbody {
      tr:nth-child(even) {
        background: #eee;
      }
    }
  }
}
