.bread {
    display: inline-flex;
}

.state-count-box{
    width: 120px;
    height: 120px;
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
}

.district-data{
    text-align: left;

}

.dist-list{
    margin-top: 15px;
}
    

.dist-row{
    text-align: left;
    border-radius: 10px;

}

.districts-map{
    margin-top: 20px;
}

 .fa-arrow-alt-circle-up{
    display: flex;
    align-items: flex-start;
}

.delta-confirmed{
    margin-top: -4px;
    margin-left: 5px;
}

.delta-data{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}