.dark-body {
 background-color: #161625; 
 color: #ccc;
}

.dark-mode{
  font-size: 17px;
}


.updatedat{
  margin-top: 25px;
  display: inline-block;
  padding : 5px;
  font-size: 14px;
}  

.updates{
  margin-top: 25px;
  display: inline-block;
  padding : 5px;
  font-size: 14px;
  cursor: pointer;
}  

.tested{
  margin-top: 25px;
  margin-bottom: 35px;
  display: inline-block;
padding: 5px;
}  

@media only screen and (max-width: 500px) {
  .updatedat{
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }  

  .tested{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 16px;
  }  

  .updates{
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }

  
}
